* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1 0 auto;
}
footer {
    flex: 0 0 auto;
    background: black;
    height: 200px;
}

.ticket-table{
    margin: 20px 0;
    width: 100%;
    display: table;
}
.ticket-row{
    width: 100%;
    display: table-row;
}
.ticket-header{
    width: 100%;
    display: table-row;
}
.ticket-row:hover{
    background-color: #5bc0de;
}
.ticket-cell{
    padding: 5px;
    width: auto;
    display: table-cell;
    border-bottom: 1px solid gainsboro;
}

.tour-table{
    width: 100%;
    display: table;
}
.tour-row{
    width: 100%;
    display: table-row;
}
.tour-header{
    width: 100%;
    display: table-row;
}
.tour-row:hover{
    background: #67b168;
}
.tour-cell{
    padding: 3px;
    width: auto;
    display: table-cell;
    border-bottom: 1px solid gainsboro;
}

.route-table{
    margin-top: 20px;
    width: 100%;
    display: table;
}
.route-row{
    width: 100%;
    display: table-row;
}
.route-header{
    width: 100%;
    display: table-row;
}
.route-row:hover{
    background: darkseagreen;
}
.route-cell{
    padding: 5px;
    width: auto;
    display: table-cell;
    border-bottom: 1px solid darkseagreen;
}

.login {
    border: 1px solid darkseagreen;
    padding: 20px;
}

.registration {
    border: 1px solid darkseagreen;
    padding: 30px;
}

.form-page {
    margin-bottom: 50px;
}

.link-btn {
    background: none;
    border: none;
    color: #337ab7;
    cursor: pointer;
}

.link-btn:hover {
    text-decoration: underline;
}